.menu {
    position: absolute;
    z-index: 1000;
}

.menuItem {
    padding: 8px;
    /* Padding for menu items */
    cursor: pointer;
    /* Pointer cursor */
    font-size: 14px;
    /* Font size */
    color: #333;
    /* Dark text color */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflowing text */
    width: calc(100% - 16px);
    /* Adjust width to account for padding */
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}

.menuItem:hover {
    background: #e0e0e0;
    /* Hover background color */
}

.menuDivider {
    border-top: 1px solid #dcdcdc;
    /* Divider color */
    margin: 0;
    /* No margin */
}