.container {
    position: absolute;
    bottom: 0.75rem;
    /* bottom-3 */
    z-index: 50;
    /* z-50 */
    display: flex;
    /* flex */
    justify-content: center;
    /* justify-center */
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    pointer-events: auto;
}

.card {
    padding: 0.25rem 0.5rem;
    /* Compact padding */
    margin: 0;
    /* Remove margin */
    gap: 0.5rem;
    /* gap-2 */
    display: flex;
    /* flex */
    align-items: center;
    /* align-items-center */
    animation: fadeIn 0.3s;
    /* fadeIn */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 3px rgba(0, 0, 0, 0.12);
    /* bp3-elevation-3 */
    height: 2rem;
    /* Set a smaller height */
    line-height: 1rem;
    /* Adjust line-height if needed */
}

.rightIcon {
    cursor: pointer;
    /* cursor-pointer */
    margin-left: 0.5rem;
    /* ml-2 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}